<section class="  bg-main-light mt-5">
    <div class="container py-5">
        <div>
            <h3>get the FreshCart APP</h3>
            <p>We will send you a Link...</p>
            
        </div>
        <div class="row">
            <div class="col-md-10"> <input type="email" class="w-100 form-control" placeholder="Email..."></div>
            <div class="col-md-2"> <button class="main-btn w-100">Subscribe</button></div>
        </div>
        <div class="w-100 text-center border-top py-2 text-muted">
            @2024 Nader Hani, All Rights Reserved.
        </div>
    </div>
</section>